.view {
    margin-top: 200px;
    margin-left: 250px;
    border: 5px black solid;
    border-radius: 10px;
    padding: 70px;
    position: absolute;
}

header {
    background-color: black;
    text-decoration: cornflowerblue;
}

.links {
    margin-left: 50px;
}

.top {
    margin-top: 200px;
    margin-left: 250px;
    border: 5px black solid;
    border-radius: 10px;
    padding: 70px;
    position: absolute;
}

.label {
    margin-bottom: 10px;
    display: block;
}

.input-submit {
    margin-left: 80px;
    margin-top: 70px;
    display: block;
}